* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 2500px;
  margin: auto;
}

.Section{
  min-height: 33vh;
}

.Section-title {
  margin: 0 0 0 2rem;
  color: white;
}

.Card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 17rem;
    margin: 2rem 0 0;
    border-radius: 2rem;
    overflow: hidden;
    background-color: white;
    /* box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75); */
    box-shadow: 10px 10px 20px 0px rgba(255,193,7,1);
    transition: transform .2s ease-in;
  }

  .Card:hover{
    transform: scale(1.05);
  }

  @media (max-width: 550px) {
    .Card{
      display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 16rem;
    }
  }
  
  .Card-left{
      width: 17rem;
      height: 100%;
      background-color: rgb(239, 233, 233);
  }
  
  .Card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .Card-img--vehicles{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.Card-rigth{
    width: 100%;
}

.Card-name {
  margin: 0.5rem 0 1rem 2rem;
  font-size: 1.5rem;
}
.Card-ul {
}
.Card-li {
  list-style: none;
  margin: 0 0 0.25rem 0;
}
.Card-btn {
  margin: 0 0 0 2rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #ffc107;
  color: black;
}

@media (max-width: 550px) {
.Card-btn{
  margin: 0 0 1rem 2rem;
}
}

.Card-buttons{
    display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
margin: 3rem 0 0;
}

.Card-like {
  fill: #ffc107;
  width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
/* 
.Card-fav{
  width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 0;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid #ffc107;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.Card-fav--active{
  width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color: #ffc107;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
} */



@media (max-width: 550px) {
  .Card-like{
    margin: 0 1rem 1rem 0;
  }
  }

.Section-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.Card-page {
  border: none;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #ffc107;
  color: black;
}

/* 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Wrapper{
    
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.Section-title{
    margin: 0 0 0 2rem;
}

.Card{
border: 1px solid black;
width: 22rem;
height: 25rem;
margin: 2rem 0 0;
}

.Card-img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.Card-name{
    margin: .5rem 0 1rem 2rem;
}
.Card-ul{}
.Card-li{
    list-style: none;
    margin: 0 0 .25rem 0;
}
.Card-btn{
    margin: .5rem 0 0 2rem;
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: #ffc107;
    color: black;
}

.Card-like{
    fill: #ffc107;
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 8.5rem;
    cursor: pointer;
}

.Section-footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.Card-page{
    border: none;
    margin: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: #ffc107;
    color: black;
} */
