


.Details{
    max-width: 100%;
    height: 88.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.Details-card{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 55rem;
    height: 32rem;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    border-radius: 2rem;
    overflow: hidden;
}

@media (max-width: 900px) {
    .Details-card{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: auto;
    }
    }

.Details-left{
    width: 25rem;
}
.Details-img{
 width: 25rem;
    
}
.Details-rigth{
    margin: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Details-name{}

@media (max-width: 900px) {
    .Details-name{
        margin: 1rem 0 ;
    }
    }
.Details-description{}

@media (max-width: 900px) {
    .Details-description{
        display: none;
    }
    }
.Details-ul{
    padding: 0;
}
.Details-li{
    list-style: none;

}

.Details-btn{
    border: none;
  margin: 2rem;
  padding: .8rem 2rem;
  border-radius: 2rem;
  background-color: #ffc107;
  color: black;
}

