
    General Styles
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.Navbar{
    background-color: black;
    padding: 1rem 0;
}

.Navbar-link{
    text-decoration: none; 
 }

.Navbar-h1{
    color: #ffc107;
    margin: 0 2rem;

}

.Footer{
    background-color: black;
    padding: 1rem 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.Footer-p{
    text-align: center;
    color: white;
}

.Footer-a{
    text-decoration: none;
    color: #ffc107;
}